  {% include '../shared/_header.html' with titulo="Home" %}
  <body>
    <div class="container">
      <div class="box">
        <div class="title-box">Menu</div>
        <div class="teclas-box">
          <div class="box-tecla">
            <span>PEDIDOS</span>
            <span>F4</span>
          </div>
          <a href="/clientes">
            <div class="box-tecla">
              <span>CLIENTES</span>
              <span>F5</span>
            </div>
          </a>
          <div class="box-tecla">
            <span>PRODUTOS</span>
            <span>F6</span>
          </div>
          <div class="box-tecla">
            <span>RELATÓRIOS</span>
            <span>F7</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
