* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #4E39FE;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
.container{
  width: 100wh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container > .box{
  width: 700px;
  height: 700px;
  /* border: 1px solid red; */
  background: #4E39FE;
  box-shadow: 2px 4px 39px 20px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
}
.title-box{
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
  font-size: 35px;

}
.teclas-box{
  /* border: 1px solid red; */
  width: calc(100% - 80px);
  height: calc(100% - 145px);
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  gap: 40px;
}
.box-tecla{
  background-color: #fff;
  font-weight: 500;
  font-size: 30px;
  border-radius: 30px;
  color: #000;
  width: 200px;
  height: 140px;
  margin: 20px;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(16px 14px 30px rgba(2, 8, 29, 0.5));
  cursor: pointer;
  right: -20px;
  transition: 0.5s;
  transition: box-shodw 2s;
}
.box-tecla:hover{
  background-color: #F0F0F0;
  box-shadow: inset 0px 0px 45px rgba(2, 8, 29, 0.5);
}
.box-tecla :nth-child(2){
  margin-top: 15px;
  font-weight: 700;
  border: 1px solid black;
  width: 30%;
}